{% extends "layout.html" %}

{% block title %}
	Buy Shares
{% endblock %}

{% block main %}
	<form action="/buy" method="post">
		<div class="form-group">
			<label for="stock">Stock</label><br>
			<input autocomplete="off" autofocus class="form-control" name="symbol" placeholder="e.g AAPL" type="text"/>
		</div>
		<div class="form-group">
			<label for="shares">Shares</label><br>
			<input autocomplete="off" autofocus class="form-control" name="shares" placeholder="e.g. 4" type="text">
		</div>
		<br><br>
		<button class="btn btn-primary" type="sumbit">Buy</button>
	</form>

{% endblock %}